<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Emergency Compliment</title>
    <style>
    body {
      background-color: <%= @color %>;
    }
    </style>
  </head>
</html>
